@font-face {
  font-family: 'iconfont'; /* project id 2332256 */
  src: url('//at.alicdn.com/t/font_2332256_qy7me6yvsy.eot');
  src: url('//at.alicdn.com/t/font_2332256_qy7me6yvsy.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2332256_qy7me6yvsy.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2332256_qy7me6yvsy.woff') format('woff'),
    url('//at.alicdn.com/t/font_2332256_qy7me6yvsy.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2332256_qy7me6yvsy.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
